{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": "last 1 version"
      }
    }],
    "stage-2"
  ],
  "plugins": ["transform-vue-jsx", "transform-runtime"]
}