html
  background-color: #f1f1f1

body
  font-family: "Roboto", sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-rendering: optimizeLegibility
  line-height: 1.5

a
  font-weight: 700
  color: $primary
